        body {
            margin: 0;
            min-height: 100vh;
            overflow: hidden;

            background: linear-gradient(
                -45deg,
                #ee7752,
                #e73c7e,
                #23a6d5,
                #23d5ab

            );

            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }


        /* BOX */

        .box {
            width: 300px;
            margin: 100px auto;
            padding: 30px 20px;

            text-align: center;

            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 10px;
            background-clip: padding-box;
            background: rgba(255, 255, 255, 0.08);
            box-align: center;
            box-shadow: 0 0px 80px rgb(0, 0, 0);
        }


        /* TITRE */

        h1 {
            margin: 5px 0 30px;

            font-family: Georgia, serif;
            font-size: 34px;
            line-height: 1.2;

            color: #000;
        }


        /* INPUTS */

        input {
            width: 210px;
            height: 30px;

            padding: 0 10px;

            font-size: 15px;

            border: 1px solid #aaa;
            border-radius: 3px;

            background: white;
            grid-gap: 10px;
            box-sizing: border-box;
        }

        input:focus {
            outline: none;

            border-color: #23a6d5;

            box-shadow: 0 0 5px rgba(35, 166, 213, 0.5);
        }


        /* BOUTON */

        button {
            position: relative;

            padding: 12px 35px;

            border: none;
            border-radius: 30px;

            background: rgba(0,0,0,.8);

            color: white;

            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;

            cursor: pointer;
            overflow: hidden;

            z-index: 1;

            box-shadow: 0 0 15px rgba(255,255,255,.15);

            transition:
                transform .2s ease,
                box-shadow .3s ease;
        }

        button::before {
            content: "";

            position: absolute;
            inset: -3px;

            border-radius: 30px;

            background: linear-gradient(
                90deg,
                #ee7752,
                #e73c7e,
                #23a6d5,
                #23d5ab,
                #ee7752
            );

            background-size: 400% 400%;

            animation: buttonGlow 6s linear infinite;

            z-index: -2;
        }

        button::after {
            content: "";

            position: absolute;
            inset: 2px;

            border-radius: 28px;

            background: rgba(0,0,0,.9);

            z-index: -1;
        }

        @keyframes buttonGlow {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        button:hover {
            box-shadow:
                0 0 10px #ee7752,
                0 0 25px #e73c7e,
                0 0 40px #23a6d5;

            transform: scale(1.03);
        }
        input{
            border: 1px solid #aaa;
            border-radius: 10px;
            background: white;
            box-sizing: border-box;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.718);
            background-color: #f0f0f0;
            grid-gap: 10px;
            inline-size: 200px;

        }
